.game {
  top: 100px;
  position: relative;
  width: 600px;
  height: 200px;
  border-bottom: 30px solid #8c3306;
  margin: auto;
  background: #8f85e2;

}

.game:after {
  background: #027600;
  width: 60px;
  height: 40px;
  position: absolute;
  content: "";
  left: 90px;
  bottom: -1px;
  border-radius: 40% 90% 0% 0%;
  border: 2px solid #106406;
}
.game:before {
  background: #027600;
  width: 20px;
  height: 30px;
  position: absolute;
  content: "";
  left: 290px;
  bottom: -1px;
  border-radius: 80% 60% 0% 0%;
  border: 2px solid #106406;
}

#dino {
  width: 50px;
  height: 50px;
  background-image: url(img/dino.png);
  background-size: 50px 50px;
  position: relative;
  top: 160px;
}

#cactus {
  width: 30px;
  height: 30px;
  background-image: url(img/cactus.png);
  background-size: 30px 30px;
  position: relative;
  top: 125px;
  left: 580px;
  z-index: 2;
  animation: cactusMov 2s infinite linear;
}

@keyframes cactusMov {
  0% {
    left: 580px;
  }
  100% {
    left: -20px;
  }
}

.jump {
  animation: jump 0.3s linear;
}

@keyframes jump {
  0% {
    top: 130px;
  }
  30% {
    top: 120px;
  }
  80% {
    top: 120px;
  }
  100% {
    top: 130px;
  }
}
